*{
    font-family: "Playfair Display";
    list-style-type: none;
}


section .banner{
    border-radius: 1px;
    border: #C81010;
    background-color: #C81010;
    width: 60px;
    height: 2px;
}



/*++++ CARDS ++++ */
/* Modificacion a los cards */
.cards-wrapper .card img{
    width: 50px;
    display: inline;
    margin: auto; 

}


/* ++++PARRAFOS++++ */

.about-wrapper p.text-justify{
    font-size: 13.6px;
}


.footer-wrapper .main-flag{
    background-color: #C81010;
    color: rgba(255, 255, 255, 0.75);
    height: 80px;   
}

.footer-wrapper .info {
    background-color: #012633;
}

.footer-wrapper .copyright{
    background-color: #012633;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }